
.result-filters-list{
	padding-left:$main-margin;

	.result-filters-item{
		color:$blue-dark;
		font-size:12px;
		margin-bottom:$main-margin;
		width:100%;
		float:left;

		.result-filters-link{
			display:block;

			&:before{
				content:'>';
				margin-right:$main-margin / 2;
			}

			img{
				width:90px;
			}
		}

		.result-filters-select{
			background:$blue-dark;
			position:relative;
			color:$white;
			padding:$main-margin / 2 $main-margin;
			height:16px;
			line-height:16px;
			min-width:150px;
			float:left;

			img{
				width:90px;
			}

			&:before{
				content: "";
			    position:absolute;
			    width: 0;
			    height: 0;
			    border-style: solid;
			    border-color: transparent;
			    top:0;
			    right:-19px;
			    border-left-color:$blue-dark;
			    border-width: 13px 0 13px 20px;
			  	z-index:2;  
			}
			.close{
				float:right;
			}

			a{
				display:block;
			}
		}
	}
}