$result-item-row-scale-sigla-size:40px;
$result-item-row-scale-icon-size:12px;
$max-scale:6;

$result-item-flight-detail-date-size:135px;
$result-item-flight-detail-line-size:10px;
$result-item-flight-detail-icon-size:20px;
$result-item-flight-detail-height:100px;

$duration-item-size:120px;

.result-item-flight{
	
	.result-item-tramo{
		width:100%;
		float:left;
		margin-bottom:$double-margin;

		&:last-child{
			margin-bottom:0;
		}
	}

	.result-item-title{
		

		b{
			font-family:$montserrat-regular;
			text-transform:none;
		}
	}

	.result-item-subtitle{
		font-family:$montserrat-light;
		color:$blue-dark;
		text-transform:uppercase;
		font-size:14px;
		margin-bottom:$double-margin;
	}
	
	.result-item-flight-row{
		width:calc(100% - #{$double-margin});
		padding:$main-margin;
		float:left;
		//margin-bottom:$main-margin;
		color:$blue-dark;
		background:$white;
		text-align:center;
		line-height:30px;


		&.row-first{
			background:$gray;
			font-size:11px;
			padding:$main-margin / 2 $main-margin;
			color:$blue-dark;
			font-family:$montserrat-light;
			text-transform:uppercase;
		}

		.result-item-flight-radio{
			position:relative;
			text-align:left;

			.input-radio{
				float:left;
				height:30px;
				margin:0;
			}

			.result-item-flight-image{
			    float:left;
			    width:calc(100% - #{$main-margin} * 3);
			    height:30px;

			    img{
			    	height:100%;
			    	display:block;
			    	margin:auto;
			    }
			}
		}

		.result-item-row-scale{

			.result-item-row-scale-line{
				width:100%;
				position:relative;
				float:left;

				.result-item-row-scale-sigla{
					width:$result-item-row-scale-sigla-size;
					float:left;
					line-height:30px;
					font-size:12px;

					&:first-child{
						text-align:left;
					}

					&:last-child{
						text-align:right;
					}
				}

				.result-item-row-scale-image{
					width:calc(100% - (#{$result-item-row-scale-sigla-size} * 2));
					height:6px;
					background-color:$blue-dark;
					float:left;
					margin:$main-margin + $result-item-row-scale-icon-size / 4 0;
					position:relative;

					.result-item-row-scale-icon{
						width:$result-item-row-scale-icon-size;
						height:$result-item-row-scale-icon-size;
						margin-top:-$result-item-row-scale-icon-size / 4;

						img{
							width:100%;
							display:block;
						}

						&:first-child{
							float:left;
							margin-left:-$result-item-row-scale-icon-size / 4;
						}

						&:last-child{
							float:right;
							margin-right:-$result-item-row-scale-icon-size / 4;
						}
					}

					@for $i from 1 through $max-scale{

						&.escalas-#{$i}{

							&:after{
								content:'';
								width:$result-item-row-scale-icon-size * $i;
								height:$result-item-row-scale-icon-size;
								background-image:url(../images/icons/icon-scale-item.svg);
								background-size:auto 100%;
								position:absolute;
								z-index:2;
								@include vertical-horizontal-align();
							}

						}

					}

				}

				.result-item-row-scale-line-text{
					width:100%;
					text-align:center;
					color:$gray-dark;
					font-size:11px;
					line-height:11px;
				}

			}

		}

		.result-item-flight-date{
			width:100%;
			text-align:center;
			font-size:14px;
			line-height:14px;

			.result-item-flight-hour{
				font-family:$montserrat-bold;
				padding-top:$main-margin / 2;
			}

			.result-item-flight-day{
				font-family:$montserrat-light;
				font-size:10px;
				text-transform:uppercase;
			}
		}

		.result-item-flight-totaltime{
			font-size:14px;
			font-family:$montserrat-bold;
			text-transform:uppercase;
		}

		.btn-ver-detalle{
			.icon-item{
				cursor:pointer;

				&:before{
					left:0;
				}
			}
		}

	}

	.result-item-flight-detail{
		width:100%;
		float:left;
		margin-top:$double-margin;
		border-bottom:1px solid $blue-dark;
		padding-bottom:$double-margin;

		.result-item-flight-detail-header{
			width:100%;
			float:left;
			margin-bottom:$main-margin;
			color:$blue-dark;
			text-transform:uppercase;
			font-size:14px;
			font-family:$montserrat-bold;
			margin-left:$result-item-flight-detail-date-size + $main-margin;

			&:last-child{
				margin-top:$main-margin;
			}
		}

		.result-item-flight-detail-row{
			width:100%;
			float:left;
			color:$blue-dark;
			position:relative;

			.result-item-flight-detail-date{
				width:$result-item-flight-detail-date-size;
				float:left;
				text-align:right;
				//height:$result-item-flight-detail-height;

				b{
					display:block;
					font-size:14px;
					line-height:16px;

					&.time{
						font-family:$montserrat-bold;
					}

					&.date{
						font-family:$montserrat-light;
						font-size:12px;
					}
				}
			}

			.result-item-flight-detail-line{
				width:$result-item-flight-detail-line-size;
				float:left;
				margin:0;
				height:100%;
				position:relative;
				background:$blue-dark;
				margin-top:$main-margin / 2;
				position:absolute;
				left:$result-item-flight-detail-date-size + $double-margin;

				&:after{
					content:'';
					width:$result-item-flight-detail-icon-size;
					height:$result-item-flight-detail-icon-size;
					background-image:url(../images/icons/icon-scale-item.svg);
					background-size:auto 100%;
					position:absolute;
					z-index:2;
					@include horizontal-align();
					top:-$result-item-flight-detail-icon-size / 2;
				}

				&.color-gray{
					background:$gray;
				}
			}

			.result-item-flight-detail-info{
				width:calc(100% - #{$result-item-flight-detail-line-size} - #{$result-item-flight-detail-date-size} - #{$double-margin} * 2);
				float:right;
				//height:$result-item-flight-detail-height;

				.result-item-flight-detail-info-title{
					font-family:$montserrat-light;
					font-size:14px;
					width:100%;
					float:left;
					margin-bottom:$main-margin;

					b{
						font-family:$montserrat-bold;
					}
				}

				.result-item-flight-detail-info-duration{
					width:calc(100% - #{$double-margin} * 2);
					padding:$double-margin;
					float:left;
					background:$white;
					color:$blue-dark;
					font-size:12px;
					margin-bottom:$main-margin;
					position:relative;

					.duration-item{
						width:$duration-item-size;
						position:absolute;
						@include vertical-align();
						line-height:25px;

						.icon-item{
							float:left;
							margin-right:$main-margin;
						}
					}

					.duration-info{
						width:calc(100% - #{$duration-item-size} - #{$double-margin});
						float:right;
						line-height:16px;
					}

					&.color-gray{
						background:$gray;
					}
				}
			}

			&:last-child{
				.result-item-flight-detail-date,
				.result-item-flight-detail-info,
				.result-item-flight-detail-line{
					background:none;
					min-height:20px;
					height:auto;
				}
			}

		}

	}

	.result-item-promos{
		width:calc(100% - #{$double-margin} * 2);
		padding:$main-margin $double-margin;
		float:left;
		text-align:center;
		color:$blue-dark;
		background:$white;
		text-transform:uppercase;

		.result-item-promos-title{
			font-family:$montserrat-bold;
			font-size:14px;
			line-height:18px;
		}

		.result-item-promos-subtitle{
			font-family:$montserrat-light;
			font-size:11px;

			a{
				font-family:$montserrat-bold
			}
		}
	}

	.result-item-price{
		

		.result-item-price-group{
			width:100%;
			float:left;

			.ver-mas{
				position:relative;
				width:calc(100% - #{$double-margin});
				float:left
			}

			&.price-fixed{
				position:fixed;
				width:$result-item-price-width - $double-margin;
				top:82px;
			}

			&.price-fixed-bottom{
				position:absolute;
				width:$result-item-price-width - $double-margin;
				bottom:$double-margin;
			}
			
		}

		.price-info{

			.price-list-detail{
				color:$blue-dark;
				font-size:11px;
				font-family:$montserrat-regular;
				text-align:left;

				.price-list-detail-item{
					width:100%;
					display:block;

					b{
						float:right;
					}

					&:last-child{
						border-top:1px solid $blue-dark;
						padding-top:$main-margin / 2;
						margin-top:$main-margin / 2;
						font-family:$montserrat-bold;
						text-transform:uppercase;
					}
				}
			}
		}

	}

	@media (max-width:$screen-sm){
		$result-item-flight-detail-date-size:80px;

		.result-item-flight-row{

			.mod-1col-sm,
			.mod-2col-sm{
				margin-bottom:$main-margin / 2;
			}

			&.row-first{
				display:none;
			}

			.result-item-flight-date{
				float:left;
				width:auto;

				&.f-right{
					float:right;
				}
			}

			.btn-ver-detalle{
				margin-top:$main-margin;
			}

		}

		.result-item-flight-detail{

			.result-item-flight-detail-row{

				.result-item-flight-detail-date{
					width:$result-item-flight-detail-date-size;

					b{
						&.time{
							font-size:12px;
						}
						&.date{
							font-size:10px;
						}
					}
				}

				.result-item-flight-detail-line{
					left:$result-item-flight-detail-date-size + $double-margin;
				}

				.result-item-flight-detail-info{
					width:calc(100% - #{$result-item-flight-detail-line-size} - #{$result-item-flight-detail-date-size} - #{$double-margin} * 2);

					.result-item-flight-detail-info-title{
						font-size:12px;
						b{display:block;}
					}

					.result-item-flight-detail-info-duration{
						width:calc(100% - #{$double-margin});
						padding:$main-margin;

						.duration-item{
							position:relative;
							width:100%;
							float:left;
							transform:none;
							top:auto;
							margin-bottom:$main-margin;
						}

						.duration-info{
							width:100%;
							float:left;
							font-size:11px;
						}
					}
				}

			}

		}

	}

}