$icon-chevron-down-filter:url(data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pgo8IS0tIEdlbmVyYXRvcjogQWRvYmUgSWxsdXN0cmF0b3IgMTkuMC4wLCBTVkcgRXhwb3J0IFBsdWctSW4gLiBTVkcgVmVyc2lvbjogNi4wMCBCdWlsZCAwKSAgLS0+CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeD0iMHB4IiB5PSIwcHgiIHZpZXdCb3g9IjAgMCA0MDQuMjU3IDQwNC4yNTciIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDQwNC4yNTcgNDA0LjI1NzsiIHhtbDpzcGFjZT0icHJlc2VydmUiIHdpZHRoPSIyNHB4IiBoZWlnaHQ9IjI0cHgiPgo8cG9seWdvbiBwb2ludHM9IjM4Ni4yNTcsMTE0LjMzMSAyMDIuMTI4LDI1Mi40MjcgMTgsMTE0LjMzMSAwLDEzOC4zMzEgMjAyLjEyOCwyODkuOTI3IDQwNC4yNTcsMTM4LjMzMSAiIGZpbGw9IiMzOTQwNzkiLz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPC9zdmc+Cg==);
$icon-chevron-up-filter:url(data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pgo8IS0tIEdlbmVyYXRvcjogQWRvYmUgSWxsdXN0cmF0b3IgMTkuMC4wLCBTVkcgRXhwb3J0IFBsdWctSW4gLiBTVkcgVmVyc2lvbjogNi4wMCBCdWlsZCAwKSAgLS0+CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeD0iMHB4IiB5PSIwcHgiIHZpZXdCb3g9IjAgMCA0MDQuMjU4IDQwNC4yNTgiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDQwNC4yNTggNDA0LjI1ODsiIHhtbDpzcGFjZT0icHJlc2VydmUiIHdpZHRoPSIyNHB4IiBoZWlnaHQ9IjI0cHgiPgo8cG9seWdvbiBwb2ludHM9IjIwMi4xMjksMTE0LjMzMSAwLDI2NS45MjcgMTgsMjg5LjkyNyAyMDIuMTI5LDE1MS44MzEgMzg2LjI1OCwyODkuOTI3IDQwNC4yNTgsMjY1LjkyNyAiIGZpbGw9IiMzOTQwNzkiLz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPC9zdmc+Cg==);


.result-box-search{
	width:calc(100% - #{$double-margin});
	padding:$main-margin;
	//background:$yellow;
	float:left;
	margin-bottom:$double-margin;

	&.result-box-search-map{
		width:100%;
		padding:0;

		.result-box-search-filters-map{
			width:100%;
			float:left;
			position:relative;
			
			.mask-map{
				position:absolute;
				z-index:2;
				width:100%;
				height:100%;
				cursor:pointer;
				@include transition(200ms ease-in);
				background:rgba(0,0,0,0);
				
				&:hover{
					background:rgba(0,0,0,0.7);

					&:before{
						content:'Ir a la vista de mapa';
						font-size:12px;
						color:$white;
						position:absolute;
						@include vertical-horizontal-align();
						padding:0 $double-margin;
						width:calc(100% - #{$double-margin});
						text-align:center;
						text-transform:uppercase;
						font-family:'montserrat-light';
						z-index:3;
						
					}
					
				}
			}

			iframe{
				width:100%;
				height:250px;
			}
		}
	}

	.main-title{
		margin:$double-margin 0;
		font-size:18px;
	}

	.label-input{
		text-align:left;
		color:$blue-dark;
		line-height:25px;
		margin-bottom:$main-margin;

		.icon-item{
			float:left;
			position:relative;
			margin-right:$main-margin / 2;
		}

		&.label-bedroom{
			background:darken($yellow, 5%);
			width:calc(100% - #{$double-margin});
			padding:$main-margin / 2 $main-margin;
			margin-top:$main-margin;
		}

		&.label-title{
			text-transform:uppercase;
			color:$blue-dark;
			font-family:$montserrat-bold;
		}

	}

	.input-text{
		border:none;
		width:calc(100% - #{$double-margin});
	}

	.result-box-search-link{
		text-decoration:underline;
		color:$blue-dark;
		font-size:14px;
		line-height:25px;

		.icon-item{
			float:left;
			margin-right:$main-margin;
		}

		&:hover{
			text-decoration:none;
		}
	}

	.row{
		&.line-top{
			border-top:1px solid $white;
			padding-top:$double-margin;
		}
	}

	

	@media (max-width:$screen-lg){

		.main-title{
			margin:0;
		}

		.row:first-child{
			margin-bottom:$main-margin;
		}

		.result-box-mobile{
			display:none;
		}

	}

	@media (min-width:$screen-lg){

		.icon-chevron-down,
		.icon-chevron-up{
			display:none;
		}

	}

}

.result-box-mobile{
	display:block;

	@media (max-width:$screen-lg){
		display:none;
	}

}

.result-box-search-filters{

	.slider-wrapper{
			position:relative;
			
			.range-bar{
				background-color:$gray;
				margin-bottom:$double-margin * 2;
			}
			.range-quantity{
				background-color:$blue-dark;
			}

			.range-min{
				float:left;
				left:0;
				position:relative;
				top:$double-margin;
				text-align:left;
				width:auto;
				color:$blue-dark;
				&:before{
					content:'Mín. ';
				}
			}

			.range-max{
				float:right;
				left:0;
				position:relative;
				top:$double-margin;
				text-align:right;
				width:auto;
				color:$blue-dark;
				&:before{
					content:'Máx. ';
				}
			}

			.display-value{
				font-size:14px;
				color:$blue-dark;
				text-align:right;
				margin-top:-$main-margin;

				.display-box{
					font-size:18px;
					font-family:'montserrat-bold';
				}
			}
	}

}

.box-search-filter-gropup{
	border-bottom:1px solid $white;

	&:first-child{
		margin-top:$main-margin;
	}

	.box-search-filter-title{
		cursor:pointer;
		width:100%;
		float:left;
		position:relative;
		margin-bottom:$main-margin;
		
		&:hover{
			//@include box-shadow(0px, 6px, 4px, -6px, rgba(0, 0, 0, 0.6));
		}

		.label-input{
			float:left;
			width:auto;
			cursor:pointer;
			margin-bottom:0;
		}

		.icon-chevron-filter{
			width:20px;
			height:20px;
			background-size:100% auto;
			background-repeat:none;
			cursor:pointer;
			position:absolute;
			@include vertical-align();
			right:0;

			&.down{
				background-image:$icon-chevron-down-filter;
			}

			&.up{
				background-image:$icon-chevron-up-filter;
			}
		}

	}

	.box-search-filter-content{
		width:100%;
		float:left;
		margin:$double-margin 0;
	}

}