
.breadcrum-result-list{
	width:100%;
	float:left;
	margin-bottom:$double-margin;

	.breadcrum-result-item{
		float:left;
		background:$gray;
		padding:$main-margin 0 $main-margin (39px + $main-margin);
		height:35px;
		line-height:35px;
		color:$blue-dark;
		position:relative;
		display:block;
		font-size:14px;

		&:before,
		&:after{
			content: "";
		    position:absolute;
		    width: 0;
		    height: 0;
		    border-style: solid;
		    border-color: transparent;
		    right:0;
		    top:0;
		    
		}

		&:before{
    		right:-34px;
		    border-left-color:$gray;
		    border-width: 27.5px 0 27.5px 35px;
		  	z-index:2;
		}

		&:after{
			top:-2px;
			right:-39px;
			border-left-color:$white;
			border-width: 29.5px 0 29.5px 39px;
			z-index:1;
		}

		&:first-child{
			background:$blue-dark;
			color:$white;
			padding-left:$main-margin;
			text-transform:uppercase;

			&:before{
			    border-left-color:$blue-dark;
			}

		}

	}


	@media (max-width:$screen-lg){

		.breadcrum-result-item{
			padding:$main-margin / 2 $main-margin!important;
			margin-right:$main-margin / 4;
			margin-bottom:$main-margin / 4;
			font-size:12px;
			height:25px;
			line-height:25px;

			&:before,
			&:after{
				display:none;
			}
		}

	}

}

