$result-table-height:50px;
$margin-image:5px;

.result-table-wrapper{
	width:100%;
	float:left;
	overflow:hidden;

	@media (max-width:$screen-sm){
		overflow:auto;
	}
}

.result-table{
	width:calc(100% - 2px);
	float:left;
	margin-bottom:$double-margin;

	.result-table-row{
		width:100%;
		float:left;
		background:$gray-light;

		&:first-child{
			width:calc(100% - 2px);
			border:1px solid $gray-dark;
			//border-bottom:1px solid $gray-dark;
			background:$white;
		}

		&:nth-child(even){
			background:darken($gray-light, 5%);
		}

		.result-table-cell{
			float:left;
			border-right:1px solid $gray-dark;
			text-align:center;
			height:$result-table-height;
			line-height:$result-table-height;
			font-size:14px;
			color:$blue-dark;

			&:last-child{
				border-right:none;
			}

			.result-table-image{
				width:auto;
				margin: $margin-image auto;
				text-align:center;

				img{
					height:$result-table-height - $main-margin;
					display:block;
					margin:auto;
				}
			}

			a{
				display:block;
			}

			&.best-price{
				background:$blue-dark;
				color:$white;
			}

		}

	}

	&.five-cells{

		.result-table-cell{
			width:calc((100% / 5) - 4px );
		}

		.result-table-row{
			&:first-child{
				
				.result-table-cell{
					width:calc((100% / 5));
					border-right:none;
				}
			}
		}


	}

	@media (max-width:$screen-sm){
		width:calc(200% - 2px);
	}

}