$result-option-item-cta:130px;
$result-option-item-image-width:100px;
$result-option-item-price-width:150px;

.result-options{
	width:100%;
	height:auto;
	//background:$gray-light;
	position:relative;
	float:left;
	//border-top:1px solid $blue-dark;

	.result-options-trigger{
		width:calc(100% - #{$double-margin});	
		background:$blue-dark-more;
		padding:0 $main-margin;
		line-height:25px;
		font-size: 11px;
		color:$white;
		@include transition(200ms ease-in);
		cursor:pointer;

		.icon-item{
			float:right;
			transition: 1s;
			&:hover{
				opacity: 0.7;
				transition: 0.4s;
				box-sizing: border-box;
				border: 0.5px solid $white;
				border-radius: 3px;
			}
		}

		//&:hover{
		//	background:darken($blue-dark-more, 10%);
		//}
	}

	@media(max-width:$screen-md){

		.result-options-trigger{
			border-bottom:1px solid $blue-dark;
		}

	}
	
}

.result-option-item{
	width:100%;
	float:left;
	border-top:1px solid $blue-dark;
	background:$white;
	position:relative;
	min-height: 60px;

	&:last-child{
		border-bottom:1px solid $blue-dark;
	}

	.result-option-item-content{
		width:calc(100% - #{$result-option-item-cta});
		float:left;
		position:relative;

		.result-option-item-image{
			width:$result-option-item-image-width;
			float:left;

			img{
				width:100%;
				display:block;
			}
		}

		.result-option-item-text{
			width:calc(100% - #{$result-option-item-image-width} - #{$result-option-item-price-width} - #{$main-margin});
			float:left;
			margin-left:$main-margin / 2;
			font-size:12px;
			padding:$main-margin - 5px 0;

			.result-option-item-title{
				width:100%;
				height:18px;
				line-height:18px;
				overflow:hidden;
				position:relative;
				float:left;
				color:$blue-dark;
				font-size: 11px;

				.icon-hotel-rate{
					width:50px;
					float:left;
					margin-top: 4px;
					margin-right:$main-margin / 3;
				}
				
				&:after{
					content:'';
					position:absolute;
					z-index:2;
					height:100%;
					width:$double-margin;
					right:0;
					top:0;
					@extend .white-gradient-alpha;
				}

			}

			.result-option-description{
				width:100%;
				float:left;
				height:auto;
				overflow:hidden;

				.result-option-description-item{
					float:left;
					margin-right:$main-margin / 2;
					color:$blue-dark;
					margin-top: 5px;
					font-size: 10px;

					&:after{
						content:'|';
						margin-left:$main-margin / 2;
					}

					&:last-child{
						margin-right:0;

						&:after{
							content:'';
							margin-left:0;
						}
					}

				}
			}
			
		}

		.result-option-item-price{
			width:calc(#{$result-option-item-price-width} - #{$main-margin} * 2.5);
			padding:$main-margin;
			text-align:center;
			position:absolute;
			height:calc(100% - #{$main-margin} * 2);
			right:0;			
			color:$blue-dark;
			font-size:14px;
			line-height:15px;
			font-weight: bold;
			font-family:$montserrat-light;
			margin:5px 0;

			b{
				display:block;
				font-family:$montserrat-bold;
			}

			i{
				display:block;
				font-size:11px;
				
			}
		}
	}

	.result-item-cta{
		width:calc(#{$result-option-item-cta} - #{$double-margin});
		padding:$main-margin;
		float:left;
		//background:$yellow-light;
		position:absolute;
		right:0;
		height:calc(100% - #{$double-margin});

		.ver-mas{
			width:calc(100% - #{$double-margin} * 2);
			padding:$main-margin * 1.2 $main-margin;
			background:$red;
			display:block;
			position:absolute;
			color:$white;
			font-size:12px;
			text-transform:uppercase;
			position:absolute;
			bottom:$main-margin + 2px;
			font-family:$montserrat-bold;
			text-align:center;
			border-bottom: 2px solid darkred;
    		border-radius: 0 0 3px 3px;
			@include transition(200ms, ease-in);

			&:hover{
				background:darken($red, 10%);
				text-decoration:none;
			}

			b{
				display:block;
				font-size:12px;
				font-family:$montserrat-regular;
				margin-top:$main-margin;
			}
		}

	}

	@media(max-width:$screen-md){
		width:calc(100% - 2px);
		float:left;
		border:1px solid $blue-dark;
		border-top:none;

		.result-option-item-content{
			width:100%;

			.result-option-item-image{
				width:100%;
				float:left;
				background:$gray-light;
				border-bottom:1px solid $blue-dark;


				img{
					margin:auto;
					width:auto;
				}

			}

			.result-option-item-text{
				width:calc(100% - #{$result-option-item-image-width} - #{$result-option-item-price-width} - #{$double-margin});
				float:left;
				margin:0;
				padding:$main-margin;

				.result-option-item-title {
					height:30px;
					overflow:hidden;
					margin-bottom:$main-margin / 2;

					.icon-hotel-rate{
						float:none;
						display:block;
					}

				}

				.result-option-description{
					overflow:hidden;
				}

			}

			.result-option-item-price{
				width:calc(#{$result-option-item-price-width} - #{$main-margin} * 2 - 1px);
				position:relative;
				float:left;
				padding:23px 10px;
				border-right:none;
			}
		}

		

		.result-item-cta{
			width:calc(100% - #{$double-margin});
			position: relative;
			float:left;

			.ver-mas{
				position:relative;
				max-width:200px;
				display:block;
				margin:auto;
				transform:none;
				left:auto;
				top:auto;
				bottom:auto;
				padding:$main-margin / 2 0;
				font-size:12px;
			}
		}

	}

	@media(max-width:$screen-sm){
		
		.result-option-item-content{

			.result-option-item-text{
				width:calc(100% - #{$main-margin});
			}

			.result-option-item-price{
				//border-top:1px solid $blue-dark;
				border-left:none;
				width:calc(100% - #{$main-margin});
				padding:$main-margin / 2;
				margin:0;
				position:relative;
				height:auto!important;
				float:left;
				right:0;

				b{
					display:inline-block;
				}
			}

		}

		

	}

}

.ver-mas-2{
	background:$red;
	position:relative;
	//max-width:110px;
	display:block;
	float: left;
	width: 100%;
	padding:$main-margin + 7px 0;
	font-size:12px;
	color:$white;
	text-transform: uppercase;
	text-align: center;
}