@import 'bourbon/bourbon'; // http://bourbon.io/

$color-1: #2c343b; // 
$color-2: #d44457; //

/* -------------------------------- 

Slider

-------------------------------- */

.cd-hero {
	position: relative;
	width:100%;
	float:left;
}

.cd-hero-slider {
	position: relative;
	height:540px;
	overflow: hidden;
	
	li {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		@include transform(translateX(100%));

		&.selected {
			/* this is the visible slide */
			position: relative;
			@include transform(translateX(0));
		}

		&.move-left {
			/* slide hidden on the left */
			@include transform(translateX(-100%));
		}

		&.is-moving,
		&.selected {
			/* the is-moving class is assigned to the slide which is moving outside the viewport */
			@include transition(transform .5s);
		}
	}

	.cd-bg-video-wrapper {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;

		video {
			/* you won't see this element in the html, but it will be injected using js */
			display: block;
			min-height: 100%;
			min-width: 100%;
			max-width: none;
			height: auto;
			width: auto;
			position: absolute;
			@include center;
		}
	}

	@media (max-width:$screen-xl){
		height:370px;
		
	}

	@media (max-width:$screen-md){
		height:350px;

		/*.search-preview-item{
			&:nth-child(1){
				&.cd-bg-video{
					background-image: url(../images/mockup/img-slide.jpg);
				}
			}
		}*/
		
		.cd-bg-video-wrapper {
			display:none;
		}
	}

}

/* -------------------------------- 

Single slide style

-------------------------------- */

.cd-hero-slider {

	li {
		background-position: center center;
		background-size: cover;
		background-repeat: no-repeat; 
	}

}

/* -------------------------------- 

Slider navigation

-------------------------------- */

.cd-slider-nav {
	position: absolute;
	width: 100%;
	bottom: 0;
	z-index: 2;
	text-align: center;
	height: 54px;

	nav, ul, li, a {
		height: 100%;
	}

	nav {
		display: inline-block;	
		position: relative;
	}

	.cd-marker {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 150px;
		height: 100%;
		color: $color-2;
		background-color:$yellow;
		//box-shadow: inset 0 2px 0 currentColor;
		@include transition(transform .2s, box-shadow .2s);
		z-index:1;

		&.item-2 {
			@include transform(translateX(100%));
		}

		&.item-3 {
			@include transform(translateX(200%));
		}

		&.item-4 {
			@include transform(translateX(300%));
		}

		&.item-5 {
			@include transform(translateX(400%));
		}
	}

	ul {
		@include clearfix;
		position:relative;
		z-index:2;
	}

	li {
		display: inline-block;
		width: 150px;
		float: left;
	}

	@media (max-width:$screen-md){
		height:71px;

		.cd-marker {
			width:calc(100% / 3);
		}

	}
	
}

/* -------------------------------- 

Javascript disabled

-------------------------------- */
.no-js .cd-hero-slider li {
	display: none;

	&.selected {
		display: block;
	}
}

.no-js .cd-slider-nav {
	display: none;
}
