.ContentDesplegable{
  position: absolute;
  //right: 0px;
  z-index: 5;

  .desplegable{
    width: calc(100% - 20px * 2);
    height: auto;
    background: rgba(250, 250, 250, 1);
    padding: 10px 20px;
    float: right;
    box-shadow: 0 1px 4px rgba(0,0,0,0.7);
    overflow-y: scroll;

    @media (max-width:$screen-md){
      max-height: 100%;
      height: auto;
    }

    & .habitaciones{
      border-bottom: 1px solid $gray;
      padding: 5px 0;
      p{
        float: left;
      }
      span{
        float: right;
        color: $blue-dark;
        text-decoration: underline;
        font-size: 12px;
      }
    }
    .cantidad, .edad{
      width: calc(100% / 1);
      padding: 5px 0;

      p{
        font-size: 12px;
        margin: 6px 0;
      }

      select.form-input{
        width: calc(100% - 0px)!important;
        box-sizing: border-box;
        border: 0.5px solid $gray-dark;
      }
      .mod-4col-xl:nth-child(4n + 4){
        margin-right: 7px;
      }

      span.cant{
        width: 26px;
        height: 26px;
        background-image:url(../images/icons/icon-mas-menos.svg);
        float: left;
        background-size: 25px;
        background-repeat: no-repeat;
        cursor: pointer;
      }
      span.cant:hover{
        //background: $yellow;
        border-radius: 50%;
        border:1px solid $gray-dark;
      }
      span.cant-menos{background-position: 0px -28px;}
      span.cant-mas{background-position: 0px -1px;}

      span.number{
        float: left;
        margin: 5px;
        font-size: 20px;

      }

    }
    button{
      margin-top: 20px;
    }

  }

  @media (max-width:$screen-md){
    width: calc(100% - 100px);
    position: fixed;
    height: calc(100% - 100px);
    padding: 50px;
    top: 0;
    left: 0;
    z-index: 10000;
    background: rgba(0,0,0,0.3);
  }

}
@media (min-width:$screen-md){
  .maxWidth{
    max-width: 360px;
  }
}