.search-fixed{
	position:fixed;
	width:100%;
	z-index:19;
	top:80px;
	max-height:500px;
	border-bottom:4px solid $blue-dark;
	background:$yellow;

	transition:max-height .8s ease-in-out, border .3s linear;
	//overflow-y: hidden!important;

	.close-search-fixed{
		position:absolute;
		right:$main-margin;
		top:$main-margin;
		cursor:pointer;
		z-index: 1000;
	}

	.search-tabs{
		height:46px;
		
		.search-tabs-nav{
			text-align:center;
			background:none;

			.tabs-wrapper-trigger{
				display:inline-block;
				border-top:none;
				padding-left:$main-margin;
				padding-right:$main-margin;
				color:$white;
				height:46px;
				line-height:40px;

				.icon-tab{
					top:8px;

					&.icon-plane{
						background-image:url(../images/icons/icon-plane.svg);
					}

					&.icon-bell{
						background-image:url(../images/icons/icon-bell.svg);
					}

					&.icon-baggage{
						background-image:url(../images/icons/icon-baggage.svg);
					}

				}

				&:hover,
				&.active{
					cursor:auto;
					background:none;
					color:$blue-dark;

					.icon-tab{

						&.icon-plane{
							background-image:url(../images/icons/icon-plane-blue.svg);
						}

						&.icon-bell{
							background-image:url(../images/icons/icon-bell-blue.svg);
						}

						&.icon-baggage{
							background-image:url(../images/icons/icon-baggage-blue.svg);
						}

					}
				}

				&:hover{
					cursor:pointer;
				}

			}

		}

	}



	.search-content{
		padding:0;

		.content-tabs-item{
			padding:$double-margin 0;
		}

	}

	@media (max-width:$screen-lg){
		display:none;
		
		/*
		.search-tabs{
			
			.search-tabs-nav{

				.tabs-wrapper-trigger{
					height:64px;
					float:left;
					padding-left:0;
					padding-right:0;
				}

			}

		}
		*/

	}

}
