.search-fixed-react{
	max-height:500px;
	transition:max-height .8s ease-in-out, border .3s linear;
	//overflow-y: hidden!important;
}
.slideUp{
	max-height: 0!important;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
	border: 0!important;
	overflow-y: hidden!important;
}

.slideDown{
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}