.main-footer{
	background:$blue-dark-more;
	color:$white;

	.title{
		font-family:$montserrat-extrabold;
		font-size:18px;
		text-transform:uppercase;
		margin-bottom:$double-margin;
	}

	.text{
		font-size:12px;
		line-height:18px;
		margin-bottom:$double-margin;
		font-family:$montserrat-light;

		&.border-top{
			border-top:1px solid $white;
			padding-top:$double-margin;	
		}
	}

	.list-plain{
		.list-plain-item{
			font-size:12px;
			margin-bottom:$main-margin;
		}
	}

	.row-footer{
		border-bottom:1px solid $white;
		padding-bottom:$double-margin;
		margin-bottom:$double-margin;

		img{
			width:156px;
			height:auto;
			display:block;
			opacity:0.5;
		}

		&:last-child{
			border-bottom:none;
		}
	}
	.dataFiscal-And-Iata{
		float: left;
		width: 100%;
		li{
			float: left;
			width: calc(100% / 5 - 20px);
			margin: 5px;

			img{
				//float: left;
				width: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
			}
		}
	}
}