
.formas-pago-item{
	width:calc(100% - #{$double-margin} * 2);
	height:330px;
	background:$gray-light;
	padding:$double-margin;
	float:left;
	position:relative;
	@include transition(200ms ease-in);

	.formas-pago-content{
		position:absolute;
		@include vertical-horizontal-align();
		
		.formas-pago-image{
			max-width:250px;
			width:100%;
			display:block;
			margin-bottom:$double-margin;

			img{
				width:100%;
				display:block;
			}

			&:last-child{
				margin-bottom:0;
			}

		}

		.text{
			width:100%;
			display:block;
			text-align:center;
			font-family:$montserrat-extrabold;
			color:$blue-dark;
			font-size:24px;
			margin-bottom:$double-margin;

			&.sm-text{
				font-size:18px;
			}

			&:last-child{
				margin-bottom:0;
			}
		}
		
	}

	&:hover{
		background:lighten($gray-light, 3%);
	}

	@media (max-width:$screen-lg){
		margin-bottom:$double-margin;
		
		.formas-pago-content{
			
			.formas-pago-image{
				max-width:220px;
				margin-bottom:$main-margin;
			}

			.text{
				font-size:20px;

				&.sm-text{
					font-size:14px;
				}

			}
			
		}
	}

}