
.login-wrapper{
	max-width:600px;
	width:100%;
}

.login-content{
	width:100%;
	float:left;
	
	.btn-login-redes{
		display:block;
		width:100%;
		padding:$main-margin * 1.5 0;
		color:$white;
		text-align:center;
		text-transform:uppercase;
		font-size:14px;
		font-family:$montserrat-bold;
		@include transition(200ms ease-in);

		&:hover{
			text-decoration:none;

			&.bg-facebook{
				background:darken($facebook, 10%);
			}
			&.bg-twitter{
				background:darken($twitter, 10%);
			}
		}
	}

	.main-title{
		margin-bottom:$main-margin;
		font-size:18px;
	}

	.plain-text{
		text-align:center;
		color:$gray-dark;
		font-size:12px;
		margin:$main-margin 0;

		a{
			color:$blue-dark;
		}
	}

}