.slide-destacados{
	@include arrowSlide('0', #{$icon-arrow-width} ,'');
	
	.item{
		width:100%;
		float:left;
	}
}

.slide-destacados-dots {
	*display: inline;/*IE7 life-saver */
	position:absolute;
	margin:0;
	width:100%;
	bottom:0;
	top:auto;
	text-align: center;
}

.slide-destacados-dots li {
	position: relative;
	display: inline-block;
	zoom: 1;
	width:26px;
	height:22px;
	padding:0;
}

.slide-destacados-dots li button {
	border: 0;
	background: transparent;
	display: block;
	height: 20px;
	width: 20px;
	outline: none;
	line-height: 0;
	font-size: 0;
	color: transparent;
	padding: 5px;
	cursor: pointer;
}

.slide-destacados-dots li button:hover, .slick-dots li button:focus {
	outline: none;
}

.slide-destacados-dots li button:hover:before, .slick-dots li button:focus:before {
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
}

.slide-destacados-dots li button:before {
	content: "";
	display: block;
	width: 12px;
	height: 12px;
	margin: 5px 7px;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 0.5;
	border-radius: 20px;
	background: #869791;
}

.slide-destacados-dots li.slick-active button:before {
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
}

