.container-voucher{
	max-width:1119px;
	width:100%;
	margin:auto;
}

.voucher-header{
	max-width:1099px;
	width:100%;
	margin:auto;
	background:$blue-dark;
	height:80px;
	padding:$main-margin;
	display:block
}