
.widget-full{
	width:100%;
	float:left;
}


.main-title{
	text-align:center;
	font-size:20px;
	color:$blue-dark;
	margin-bottom:$main-margin * 3;
	text-transform:uppercase;
	font-family:$montserrat-semibold;

	&.title-left{
		text-align:left;
	}
}

.main-Subtitle{
	text-align:center;
	font-size:16px;
	color:$blue-dark;
	margin-bottom:$main-margin * 2;
	text-transform:uppercase;
	font-family:$montserrat-regular;

	&.title-left{
		text-align:left;
	}
}
.main-description{
	text-align:center;
	font-size:18px;
	color:$blue-dark;
	margin-bottom:$double-margin * 2;
	text-transform:uppercase;
	font-family:$montserrat-light;
}

.tagline-title{
	text-align:center;
	font-size:14px;
	color:$blue-dark;
	margin-bottom:$double-margin * 2;
}


.ofertas-list-widget{

	@media (max-width:$screen-lg) and (min-width:$screen-sm){

		.mod-3col-xl:nth-child(3n+3){
			@include cols(2 , $margin-col);
		}

	}

}

.equipo-ventas-widget{

	@media (max-width:$screen-lg) and (min-width:$screen-sm){

		.mod-3col-xl:nth-child(3n+3){
			@include cols(2 , $margin-col);
		}

	}
	
}

.formas-pago-widget{

	@media (max-width:$screen-md) and (min-width:$screen-sm){

		.mod-3col-xl:nth-child(3n+3){
			@include cols(2 , $margin-col);
		}

	}
	
}
