
.paquetes-formas-pago{

	.formas-pago-item{
		height:100px;

		.formas-pago-content {
			width:100%;

			.text{
				margin-bottom:$main-margin;
				font-size:16px;

				&.sm-text{
					font-size:14px;
					font-family:$montserrat-regular;
				}
			}

			.formas-pago-image{
				margin-left:auto;
				margin-right:auto;
				margin-bottom:$main-margin;
				max-width:150px;

				&.image-sm{
					max-width:80px;
				}

			}

			div:last-child{
				margin-bottom:0;
			}
		}
	}
}