

.paquete-hospedaje{
	width:calc(100% - #{$double-margin} * 2);
	padding:$double-margin;
	background:$white;
	float:left;

	.paquete-hospedaje-map{
		width:100%;
		float:left;
		margin-bottom:$double-margin;

		.paquete-hospedaje-iframe{
			width:100%;
			float:left;

			iframe{
				width:100%;
				height:220px;
			}
			
		}
	}

	.paquete-hospedaje-info{
		width:calc(100% - #{$double-margin});
		padding:$main-margin;
		float:left;
		background:$yellow;
		color:$white;

		.paquete-hospedaje-name{
			text-transform:uppercase;
			font-size:18px;
			font-family:$montserrat-bold;
			margin-bottom:$double-margin;

			span{
				display:block;
			}

			
		}
		
		.paquete-hospedaje-data,
		.paquete-hospedaje-address{
			font-size:14px;
			line-height:20px;
			font-family:$montserrat-light;
		}
	}
}