
.paquetes-search{
	position:relative;
	z-index:2;
	overflow:auto;
	height:590px;

	.title-paquetes{
		font-family:$montserrat-extrabold;
		font-size:30px;
		text-transform:uppercase;
		color:$white;
		margin-bottom:$double-margin;
	}

	.subtitle-paquetes{
		font-family:$montserrat-regular;
		font-size:24px;
		color:$white;
		margin-bottom:$double-margin;
	}

	.linetitle-paquetes{
		font-family:$montserrat-light;
		font-size:18px;
		color:$white;
		margin-bottom:$double-margin;

		.icon-hotel-rate{
			margin-right:$main-margin / 2;
			display:inline-block;
		}
	}

	.label-input{
		font-family:$montserrat-extrabold;
		font-size:20px;
		color:$white;
		text-transform:uppercase;
		line-height:24px;
	}

	.label-bedroom{
		width:calc(100% - #{$double-margin});
		background:#FFF;
		color:$blue-dark;
		font-size:11px;
		float:left;
		margin-bottom:$main-margin;
		padding:$main-margin;
	}

	.form-select{
		background:none;
		border-bottom:3px solid $white;
		height:35px;
		margin-bottom:$double-margin;

		&:after {
			color:$white;
		}

		select{
			height:35px;
			color:$white;
			font-size:16px;
			font-family:$montserrat-light;
			padding-left:0;
			text-indent:0;

			option{
				color:$gray-dark;
				font-size:16px;
				text-transform:none;
				font-family:$montserrat-light;
			}
		}
	}

	.btn{
		max-width:100%;
		margin-top:$double-margin;
	}

	.mod-1col-xl{
		&:last-child{
			.form-select{
				margin-bottom:0;
			}
		}
	}

	.btn{
		float:right;
	}

	.back-paquetes{
		width:100%;
		float:left;
		text-align:center;
		color:$white;
		margin:$double-margin auto 0;
		text-decoration:underline;
		font-size:12px;
		text-transform:uppercase;

		&:hover{
			text-decoration:none;
		}
	}

	@media (max-width:$screen-lg){

		height:auto;
		

	}

	@media (max-width:$screen-md){


		.title-paquetes{
			font-size:22px;
		}

		.subtitle-paquetes{
			font-size:20px;
		}

		.linetitle-paquetes{
			font-size:16px;

			.icon-hotel-rate{
				margin-bottom:$main-margin / 2;
				display:block;
			}
		}

		.label-input{
			font-size:14px;
		}

		.form-select{
			margin-bottom:$double-margin;

			select{
				font-size:16px;

				option{
					font-size:12px;
				}
			}

		}

		.btn{
			float:none;
		}

	}

	@media (max-width:$screen-sm){

		.title-paquetes{
			font-size:18px;
		}

		.subtitle-paquetes{
			font-size:16px;
		}

		.linetitle-paquetes{
			font-size:14px;

			.icon-hotel-rate{
				margin-bottom:$main-margin / 2;
				display:block;
			}
		}

		.label-input{
			font-size:12px;
		}

		.form-select{
			margin-bottom:$double-margin;

			select{
				font-size:12px;

				option{
					font-size:12px;
				}
			}

		}

		.row{
			&.margin-air{
				margin-bottom:0!important;
			}
		}
	}
}

.example-enter {
	opacity: 0.01;
}

.example-enter.example-enter-active {
	opacity: 1;
	transition: opacity 170ms ease-in;
}

.example-leave {
	opacity: 1;
}

.example-leave.example-leave-active {
	opacity: 0.01;
	transition: opacity 170ms ease-in;
}
.back-paquetes{
  width:auto;
  float:left;
  text-align:center;
  color:$blue-dark;
  font-weight: bold;
  margin:3px auto 0;
  font-size:12px;
  text-transform:uppercase;

  &:hover{
    //text-decoration:none;
  	text-decoration:underline;
	  cursor: pointer;
  }
}