
$icon-steap-size:60px;

.checkout-steap-wrapper{
	width:100%;
	float:left;
	text-align:center;
	margin-bottom:$double-margin;

	.checkout-steap-icon{
		display:inline-block;

		.icon-item{
			width:$icon-steap-size;
			height:$icon-steap-size;

			&:before{
				width:$icon-steap-size;
				height:$icon-steap-size;
				left:0;
			}
		}
	}

	.checkout-steap-line{
		width:$icon-steap-size;
		height:$icon-steap-size;
		display:inline-block;
		position: relative;

		&:before{
			content:'';
			width:100%;
			height:3px;
			background:$gray;
			position:absolute;
			left:0;
			@include vertical-align();

		}
	}

	.checkout-steap-icon,
	.checkout-steap-line{
		margin-right:$main-margin;

		&:last-child{
			margin-right:0;
		}

	}

	@media (max-width:$screen-md){
		$icon-steap-size:35px;

		.checkout-steap-icon{

			.icon-item{
				width:$icon-steap-size;
				height:$icon-steap-size;

				&:before{
					width:$icon-steap-size;
					height:$icon-steap-size;
				}
			}
		}

		.checkout-steap-line{
			width:$icon-steap-size;
			height:$icon-steap-size;
		}
	}

}