.input-error-message {
  font-size: 10px;
  margin-top: 5px;
}

.checkout-form {
  width: calc(100% - #{$double-margin} * 2);
  padding: $double-margin;
  float: left;
  background: $gray-light;
  margin-bottom: $double-margin;

  .main-title {
    font-size: 18px;

    .input-check {
      float: right;
    }

  }

  .sub-title {
    color: $blue-dark;
    font-size: 18px;
    font-family: $montserrat-bold;
  }

  .checkout-passenger,
  .checkout-credit-card-info {
    margin-bottom: $double-margin * 2;
    width: 100%;
    float: left;
  }

  .form-select {
    width: calc(100% - 2px);
    border: 1px solid $gray;

    select {
      font-family: $montserrat-light;
      color: $gray;
    }
  }

}

.select-input-error > .Select-control {

  border: 1px solid $red;
  div {

    color: $red;
    opacity: 1 !important

  }

}
