
$credit-card-option-width:90px;
$credit-card-option-height:60px;
$credit-card-radio-width:50px;

.checkout-credit-card-options{
	width:100%;
	float:left;
	margin-bottom:$double-margin;

	.checkout-credit-card-options-item{
		width:100%;
		float:left;
		background:$gray-light;
		border-bottom:1px solid $gray;

		&.active{
			background:darken($gray-light, 5%);
		}

		&:hover{
			background:darken($gray-light, 3%);
		}

		.credit-card-option{
			width:$credit-card-option-width;
			height:$credit-card-option-height;
			float:left;
			line-height:0;
			text-align:center;
			font-size:12px;
			color:$blue-dark;
			font-family:$montserrat-light;
			font-weight: bold;
			font-size: 13px;
		}

		.credit-card-payments{
			line-height: 0;
			margin-top: 30px;

		}
		.credit-card-interest{
			width:100%;
			margin-top: 16px;
			font-size: 10px;
		}

		.credit-card-banks{
			width:calc(100% - #{$credit-card-option-width} - #{$credit-card-radio-width} - #{$double-margin});
			height:auto;
			padding:$main-margin;
			float:left;
			padding-top:$main-margin * 1.5;

			.bank-item{
				width:50px;
				height:30px;
				border:2px solid $blue-dark;
				border-radius:4px;
				display:inline-block;
				margin:0 $main-margin / 2 $main-margin / 2 0;
				text-align:center;
				background:$white;

				img{
					display:inline-block;
					height:26px;
					line-height:30px;
					width:auto;
				}
			}
		}

		.credit-card-radio{
			width:$credit-card-radio-width;
			height:$credit-card-option-height;
			float:left;
			position:relative;

			.input-radio{
				position:absolute;
				margin:0;
				@include vertical-horizontal-align();
			}
		}

		&:last-child{
			border-bottom:none;
		}
	}
}