.card_item_container {
  min-width: 65.1px;
  height: 40.1px;
  border: 1px solid #DDD;
  border-bottom-color: #CCC;
  background: #EEE;
  position: relative;
  display: inline-block;
  overflow: hidden;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  box-sizing: content-box;

  .eva-card-body {
    background-image: url('../images/externos/cards-vertical-retina.png');
    background-repeat:no-repeat;
    background-size: cover;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    position: absolute;
    margin: auto;
    height: 40px;
    width: 65px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .BANK1{background-position: center -149px;} /* Banco Santander Rio */
  .BANK2{background-position: center 0;} /* Banco BBVA Frances */
  .BANK3{background-position: center -690px;} /* Banco Galicia */
  .BANK4{background-position: center -725px;} /* Banco */
  .BANK5{background-position: center -29px;} /* Banco */
  .BANK6{background-position: center -765px;} /* Banco */
  .BANK7{background-position: center -364px;} /* Banco */
  .BANK8{background-position: center -560px;} /* Banco */

  .BANK9{background-position: center -599px;} /* Banco */
  .BANK10{background-position: center -108px;} /* Banco */
  .BANK11{background-position: center -807px;} /* Banco */
  .BANK12{background-position: center -841px;} /* Banco */
  .BANK13{background-position: center -404px;} /* Banco */
  .BANK14{background-position: center -873px;} /* Banco */

  .BANK15{background-position: center -1639px;} /* Banco Provincia */
  .BANK16{background-position: center -1497px;} /* Banco Nacion*/
  .BANK17{background-position: center -1497px;} /* Banco  */
  .BANK18{background-position: center -1740px;} /* Banco Credicoop */
  .BANK19{background-position: center -1692px;} /* Banco Hipotecario */
  .BANK20{background-position: center -1839px;} /* Banco Naranja */
  .BANK21{background-position: center -1893px;} /* Tarjeta Rosario*/
  .BANK22{background-position: center -1573px;} /* Banco Ciudad */
  .BANK23{background-position: center -1573px;} /* Banco  */

  .CARD1{background-position: center -982px;} /* American Express */
  .CARD2{background-position: center -1300px;} /* Diners */
  .CARD4{background-position: center -1039px;} /* Master Card */
  .CARD6{background-position: center -1839px;} /* Naranja */
  .CARD5{background-position: center -1167px;} /* Cabal */
  .CARD8{background-position: center -925px;} /* Visa */
  .CARD17{background-position: center -1366px;} /* shopping */
  .CARD31{background-position: center -1237px;} /* Nativa */

  .efectivo{background-position: center -3080px;}
}
