
.tematicas-list{

	.tematicas-item{
		text-align:center;

		.tematicas-image{
			display:block;
			margin:0 auto $main-margin;

			.tematicas-link{

				img{
					opacity:1;
					@include transition (200ms ease-in);
				}

				&:hover{

					img{
						opacity:0.8;
					}
				}
			}			
		}

		.title{
			text-align:center;
			font-family:$montserrat-extrabold;
			font-size:15px;
			color:$blue-dark;
			@include transition (200ms ease-in);
			margin-bottom:$double-margin;

			&:hover{
				
				color:lighten($blue-dark, 10%);

				a{
					text-decoration:none;
				}
			}
		}

	}

}