$hoteles-room-item-content-height:210px;
$hoteles-room-item-image-size:300px;


.hoteles-room-item{
	width:100%;
	float:left;
	background:$white;
	position:relative;
	margin-bottom:$double-margin;

	&:last-child{
		margin-bottom:0;
	}

	.hoteles-room-item-content{
		width:calc(100% - #{$hoteles-room-item-image-size});
		float:left;

		.hoteles-room-item-image{
			width:$hoteles-room-item-image-size;
			float:left;

			.slide-hoteles-room{
				@include arrowSlide('0', #{$icon-arrow-width} ,'');
				
				.item{
					width:100%;
					float:left;

					img{
						width:100%;
						display:block;
					}
				}
				
			}

		}

		.hoteles-room-item-text{

			width:calc(100% - #{$hoteles-room-item-image-size} - (#{$double-margin} * 2));
			float:left;
			position:relative;
			padding:$main-margin $double-margin;
			height:$hoteles-room-item-content-height - $double-margin;
			overflow:hidden;

			.hoteles-room-item-box{
				width:calc(100% / 3 - #{$double-margin} - 1px);
				border-left:1px solid $gray;
				padding:$double-margin $main-margin;
				height:$hoteles-room-item-content-height - ($double-margin * 2);
				float:left;
				margin-top:-$main-margin;
				position:relative;

				&:first-child{
					border-left:none;
				}

				.hoteles-room-floating{
					position:absolute;
					width:calc(100% - #{$double-margin});
					text-align:center;
					@include vertical-align();
					font-size:14px;
					color:$blue-dark;

					.icon-item{
						display:block;
						margin:$main-margin auto;
						width:50px;
						height:50px;
						position:relative;

						&:after{
							left:0;
						}

						&:before{
							width:50px;
							height:50px;
							left:0;
						}
					}
				}

			}

			.hoteles-room-item-description{

				.plain-paragraph{
					font-size:12px;
					color:$blue-dark;
					margin-bottom:$main-margin;

					b{
						font-family:$montserrat-bold;
						text-transform:uppercase;
					}

				}

			}

			.hoteles-room-icons-group{
				position:absolute;
				bottom:$double-margin;
				width:calc(100% - #{$double-margin});
				text-align:center;

				.hoteles-room-icon-item{
					display:inline-block;

					.icon-item{
						position:relative;

						&:after,
						&:before{
							left:0;
						}
					}
				}

			}

		}

	}

	.hoteles-room-item-price{
		width:$hoteles-room-item-image-size - ($double-margin * 2);
		position:absolute;
		right:0;
		height:calc(100% - #{$double-margin} * 2);
		padding:$double-margin;
		background:$yellow;
		text-align:center;

		.price-label{
			font-size:14px;
			color:$blue-dark;
			margin-bottom:$main-margin;
			font-family:$montserrat-bold;

			&.small{
				font-family:$montserrat-regular;
				font-size:12px;
			}

		}

		.price-value{
			width:100%;
			padding:$main-margin 0;
			text-transform:uppercase;
			color:$white;
			background:$blue-dark;
			font-family:$montserrat-light;
			font-size:19px;
			margin-bottom:$main-margin;

			b{
				font-family:$montserrat-bold;
			}

		}

		.btn-comprar{
			width:180px;
			display:block;
			padding:$main-margin 0;
			text-align:center;
			background:$red;
			font-size:12px;
			color:$white;
			text-transform:uppercase;
			position:absolute;
			bottom:$double-margin;
			@include horizontal-align();
			@include transition(200ms, ease-in);

			&:hover{
				background:darken($red, 5%);
				text-decoration:none;
			}

		}

	}

	&.hoteles-room-item-first-row{
		text-align:center;
		font-size:12px;
		line-height:20px;

		.hoteles-room-item-content{
			padding:$main-margin 0;
			height:20px;
			background:$gray;

			.hoteles-room-item-text{
				height:auto;
				padding-top:0;
				padding-bottom:0;

				.hoteles-room-item-box{
					margin-top:0;
					height:auto;
					border:none;
					padding-top:0;
					padding-bottom:0;
					text-align:center;
				}
			}
		}

		.hoteles-room-item-price{
			padding:$main-margin $double-margin;
			height:20px;
			background:$gray;
		}
	}

	@media (max-width:$screen-xl){
		$hoteles-room-item-content-height:168px;
		$hoteles-room-item-image-size:240px;
		$hoteles-room-item-price-size:180px;

		.hoteles-room-item-content{
			width:calc(100% - #{$hoteles-room-item-price-size});

			.hoteles-room-item-image{
				width:$hoteles-room-item-image-size;
			}

			.hoteles-room-item-text{
				width:calc(100% - #{$hoteles-room-item-image-size} - (#{$double-margin} * 2));
				height:$hoteles-room-item-content-height - $double-margin;
				font-size:11px;

				.hoteles-room-item-description {
					height:100px;
					overflow:auto;

					.plain-paragraph{
						font-size:11px;
					}
				}

				.hoteles-room-item-box{
					height:$hoteles-room-item-content-height - $double-margin;
					padding-top:$main-margin;
					padding-bottom:$main-margin;

					.hoteles-room-floating{
						font-size:11px;
					}
				}

				.hoteles-room-icons-group{
					bottom:$main-margin;
					overflow:auto;
					height:25px;
				}
			}
		}

		.hoteles-room-item-price{
			width:$hoteles-room-item-price-size - $double-margin;
			height:$hoteles-room-item-content-height - $double-margin;
			padding:$main-margin;

			.price-value{
				font-size:16px;
			}

			.price-label{
				font-size:11px;

				&.small{
					font-size:10px;
				}
			}

			.btn-comprar{
				width:calc(100% - #{$double-margin});
			}
		}


	}

	@media (max-width:$screen-lg){
		$hoteles-room-item-content-height:140px;
		$hoteles-room-item-image-size:200px;
		$hoteles-room-item-price-size:180px;

		.hoteles-room-item-content{
			width:calc(100% - #{$hoteles-room-item-price-size});

			.hoteles-room-item-image{
				width:$hoteles-room-item-image-size;
			}

			.hoteles-room-item-text{
				width:calc(100% - #{$hoteles-room-item-image-size} - #{$double-margin});
				height:$hoteles-room-item-content-height - $double-margin;
				padding:$main-margin;

				.hoteles-room-item-description {
					height:80px;
					overflow:auto;
				}

				.hoteles-room-item-box{
					width:calc(100% / 4 - #{$double-margin} - 1px);
					height:$hoteles-room-item-content-height - $double-margin;
					padding-top:$main-margin;
					padding-bottom:$main-margin;

					.hoteles-room-floating{
						.icon-item{
							width:35px;
							height:35px;

							&:after,
							&:before{
								width:35px;
								height:35px;
							}
						}
					}
					
					
					&:first-child{
						width:calc(100% / 2 - #{$double-margin});
					}
				}
			}
		}

		.hoteles-room-item-price{
			width:$hoteles-room-item-price-size - $double-margin;
			height:$hoteles-room-item-content-height - $double-margin;
			padding:$main-margin;

			.price-label{
				margin-bottom:$main-margin / 2;
			}

			.btn-comprar{
				bottom:$main-margin;
			}
		}


	}

	@media (max-width:$screen-md){
		$hoteles-room-item-content-height:140px;
		$hoteles-room-item-image-size:200px;

		&.hoteles-room-item-first-row{
			display:none;
		}

		.hoteles-room-item-content{
			width:100%;

			.hoteles-room-item-image{
				width:$hoteles-room-item-image-size;
			}

			.hoteles-room-item-text{
				width:calc(100% - #{$hoteles-room-item-image-size} - (#{$double-margin} * 2));
				height:$hoteles-room-item-content-height - $double-margin;

				.hoteles-room-item-box{
					width:calc(100% / 4 - #{$double-margin} - 1px);
					&:first-child{
						width:calc(100% / 2 - #{$double-margin});
					}
				}
			}

		}

		.hoteles-room-item-price{
			width:calc(100% - #{$double-margin});
			position:relative;
			bottom:auto;
			float:left
		}

	}

	@media (max-width:$screen-sm){

		.hoteles-room-item-content{
			width:100%;

			.hoteles-room-item-image{
				width:100%;
			}

			.hoteles-room-item-text{
				width:calc(100% - (#{$double-margin} * 2));
				height:auto;

				.hoteles-room-icons-group{
					position:relative;
					bottom:auto;
				}
			}

		}

	}

	@media (max-width:$screen-xs){


		.hoteles-room-item-content{

			.hoteles-room-item-text{

				.hoteles-room-item-description {
					height:auto;
					overflow:none;
				}

				.hoteles-room-item-box{
					width:calc(100% - #{$double-margin});
					border:none;
					border-bottom:1px solid $gray;
					padding-top:$main-margin;
					margin-bottom:$main-margin;
					height:auto;

					.hoteles-room-floating{
						position:relative;
						top:auto;
						transform:none;
					}

					&:first-child{
						width:calc(100% - #{$double-margin});
					}
				}
			}

		}

	}

}