.row{
	width:100%;
	float:left;
	margin-bottom:$double-margin;

}

.radio-wrapper{
	text-align:center;

	.radio-group{
		display:inline-block;
		position:relative;
		width:auto;
		margin-right:$double-margin;

		&:last-child{
			margin-right:0;
		}
	}
}

.label-input{
	width:100%;
	line-height:$height-select;
	font-family:$montserrat-light;
	font-size: 13px;
	display:block;
	text-align:right;

	&.text-left{
		text-align:left
	}

	@media (max-width:$screen-md){
		text-align:left!important;
		line-height:13px;
	}

	&.label-float{
		display:inline-block;
		text-align:left;
		width:auto;
	}
}

.error-message{
	width:calc(100% - #{$double-margin} * 2);
	padding:$double-margin;
	background:$red;
	color:$white;
	font-size:14px;

	.error-list{
		margin-top:$main-margin;

		.error-item{
			margin-bottom:$main-margin / 2;
			&:before{
				content:'-';
				margin-right:$main-margin;
			}
		}
	}
}

