$guests-component-label-size:80px;
$guests-component-select-height:40px;
$guests-component-btn-size:150px;

.guests-component{
	position: absolute;
	max-width:480px - $double-margin;
	width:calc(100% - #{$double-margin});
	padding:$main-margin;
	background:$white;
	@include box-shadow(0, 4px, 6px, -2px, rgba(0,0,0,0.7));
	height:auto;
	float:left;
	margin-top:15px;

	&:before{
		content: "";
		display: inline-block;
		position: absolute;
		bottom: auto;
		width: 0;
		height: 0;
		border-left: 12px solid transparent;
		border-right: 12px solid transparent;
		border-bottom: 12px solid #fff;
		left: 22px;
		z-index: 2;
		top: -9px;
	}

	.guests-component-row{
		width:100%;
		float:left;
		margin-bottom:$main-margin;
		padding-bottom:$main-margin;
		border-bottom:1px solid $gray;

		&:last-child{
			border-bottom:none;
			margin-bottom:none;
			padding-bottom:none;
		}

		.guests-component-type{
			width:calc(100% / 2 - #{$main-margin} - 0.5px);
			float:left;
			padding-right:$main-margin;

			&:nth-child(2){
				border-left:1px solid $gray;
				padding-left:$main-margin;
				padding-right:0;
			}

			.guests-component-label{
				width:$guests-component-label-size;
				float:left;
				margin-right:$main-margin;
				color:$blue-dark;
				font-size:12px;
				line-height:$guests-component-select-height;
				text-align:right;
			}

			.guests-component-select{
				width:calc(100% - #{$guests-component-label-size} - #{$main-margin} - 2px);
				float:left;
				border:1px solid $gray;
				border-radius:6px;
				height:$guests-component-select-height;
				overflow:hidden;

				.guests-component-select-trigger{
					width:calc(100% / 3);
					float:left;
					text-align:center;
					background:$gray-light;
					height:$guests-component-select-height;
					line-height:$guests-component-select-height;
					cursor:pointer;

					&:hover{
						background:darken($gray-light, 10%);
					}
				}

				.guests-component-select-number{
					width:calc(100% / 3 - 2px);
					float:left;
					border-left:1px solid $gray;
					border-right:1px solid $gray;
					text-align:center;
					height:$guests-component-select-height;
					line-height:$guests-component-select-height;
				}
			}
		}
		
		.guests-component-label-age{
			width:100%;
			float:left;
			margin-bottom:$main-margin;
			color:$blue-dark;
			font-size:12px;
		}

		.form-select{
			border:1px solid $gray;
			width:calc(100% - 2px);
		}


	}

	.guest-components-rooms{
		width:calc(100% - #{$double-margin} - 2px);
		border:1px solid $gray;
		padding:$main-margin;
		border-radius:6px;
		float:left;
		overflow:hidden;
		margin-bottom:$main-margin;

		.guest-components-rooms-title{
			background:$gray-light;
			width:100%;
			margin-left:-$main-margin;
			margin-top:-$main-margin;
			padding:$main-margin;
			font-size:12px;
			color:$gray-dark;
			border-bottom:1px solid $gray;
			margin-bottom:$main-margin;

			b{
				float:right;
				text-decoration:underline;
				font-size:10px;
				text-transform:uppercase;
				color:$blue-dark;
				cursor:pointer;

				&:hover{
					text-decoration:none;
				}
			}
		}

	}

	.btn{
		float:left;
		width:$guests-component-btn-size;
		margin-left:calc((100% - #{$guests-component-btn-size}) / 2);
	}
}