
.programa-solidario-organismos{

	.programa-solidario-organismos-icon{
		width:180px;
		height:180px;
		border-radius:50%;
		overflow:hidden;
		position:static;
		margin:auto;
		background:$white;
		perspective:1px; 

		img{
			width:90%;
			position:relative;
			@include vertical-horizontal-align();

		}
	}

}