.simpleAndMulti{

  font-size: 13px;
  background: none;
  color: $blue-text;
  float: left;
  box-sizing: border-box;
  border:1px solid $blue-text;
  margin: 5px 0 0 0;
  padding: $main-margin - 5px $main-margin + 5px;
  border-radius: 2px;
  cursor: pointer;
  transition: 0.5s;

  &:hover{
    color: $white;
    background: $blue-dark;
    transition: 0.5s;
    text-decoration: none;
  }


}
.btnTransparent{
  background:$yellow-light;
  color: $blue-dark;
  outline: 0px;
  &:hover{
    color:$white;
  }
  
}