$ofertas-side-img:120px;

.ofertas-side{

	.main-title{
		font-size:18px;
		margin-bottom:$double-margin + 3px;
	}

}

$icon-size-ofertas-tipo:22px;

.ofertas-side-item{
	width:100%;
	float:left;
	position:relative;
	margin-bottom:$main-margin;
	background:$white;

	.ofertas-image{
		width:$ofertas-side-img;
		float:left;
		position:relative;

		.oferta-tipo{
			position:absolute;
			top:0;
			left:0;
			background:$blue-dark;
			padding:$main-margin / 2;
			color:$white;
			font-size:11px;
			line-height:18px;
			text-transform:uppercase;

			.icon-item{
				width:$icon-size-ofertas-tipo!important;
				height:$icon-size-ofertas-tipo!important;
				float:left;
				position:relative;
				margin-right:$main-margin / 2;

				&:before{
					left:0;
					width:$icon-size-ofertas-tipo!important;
					height:$icon-size-ofertas-tipo!important;
				}
			}
		}

		img{
			width:100%;
			display:block;
		}

	}

	.ofertas-content{
		width:calc(100% - #{$ofertas-side-img} - #{$main-margin});
		float:left;
		position:relative;
		color:$blue-dark;
		padding:$main-margin 0;
		position:absolute;
		height:calc(100% - #{$double-margin});
		right:0;

		.ofertas-title{
			font-family:$montserrat-extrabold;
			font-size:14px;
			text-transform:uppercase;
			width:100%;
			overflow:hidden;
			line-height:18px;

		}

		.ofertas-description{
			width:100%;
			overflow:hidden;
			line-height:16px;
			font-family:$montserrat-regular;
			font-size:12px;
		}

		.ofertas-price{
			width:100%;
			overflow:hidden;
			font-family:$montserrat-regular;
			font-size:12px;
			line-height:26px;
			position:absolute;
			bottom:0;

			b{
				font-family:$montserrat-extrabold;
			}

			.ver-mas{
				float:right;
				color:$white;
				background:$teal;
				padding:$main-margin / 2;
				text-align:center;
				font-family:$montserrat-extrabold;
				font-size:10px;
				line-height:12px;
				margin:0 $main-margin $main-margin 0;
				text-transform:uppercase;
			}

		}

	}

	&:last-child{
		margin-bottom:$double-margin;
	}

}