$icon-size-ofertas:25px;

.ofertas-item{
	width:100%;
	float:left;
	position:relative;
	margin-bottom:$double-margin;

	.ofertas-link{
		display:block;
		width:100%;
		position:relative;
		float:left;

		.ofertas-image{
			width:100%;
			float:left;

			.imgPackage{
				width: auto;
				height: 270px;
				overflow:hidden;
				@media (max-width:$screen-sm){
					width: 100%;
					height: auto;
				}
			}

			img{
				width:100%;
				display:block;
			}

			&:after{
				content:'';
				//background:rgba(0,0,0, 0.3);
				@include gradient;
				width:100%;
				height:100%;
				position:absolute;
				left:0;
				top:0;
				z-index:1;
				@include transition(200ms ease-in);
			}
		}

		.ofertas-content{
			position:absolute;
			z-index:2;
			width:calc(100% - #{$double-margin} * 2);
			height:calc(100% - #{$double-margin} * 2);
			padding:$double-margin;
			text-align:center;
			color:$white;

			.ofertas-title{
				//font-size:24px;
				font-size:13px;
				font-family:$montserrat-bold;
				text-transform:uppercase;
				margin-bottom:$main-margin;
				line-height:$main-margin * 2;
			}

			.ofertas-description{
				font-size:18px;
				line-height:24px;
				font-family:$montserrat-regular;
				margin-bottom:$double-margin;
			}

			.ofertas-info{
				width:calc(100% - #{$double-margin} * 2);
				text-align:center;
				position:absolute;
				top:$double-margin * 4;

				.ofertas-info-item{
					display:inline-block;
					position:relative;
					width:$icon-size-ofertas;
					margin-right:$main-margin;

					.icon-item{
						width:$icon-size-ofertas;
						height:$icon-size-ofertas;
						float:left;

						&:before{
							left:0;
							width:100%;
							height:100%;
						}
					}

					&:last-child{
						margin-right:0;
					}
				}
			}

			.ofertas-price{
				width:calc(100% - #{$double-margin} * 2);
				background:$blue-dark;
				color:$white;
				text-align:center;
				font-family:$montserrat-regular;
				font-size:18px;
				position:absolute;
				bottom:$double-margin;
				padding:$main-margin 0;
				@include transition(200ms ease-in);

				b{					
					font-size:20px;
				}
				.por-persona{
					font-size: 9px;
					margin-top: 3px;
					text-transform: uppercase;
				}
			}
		}

		&:hover{

			.ofertas-image{

				&:after{
					background:rgba(0,0,0, 0.6);
				}
			}

			.ofertas-price{
				//background:darken($yellow, 10%);
				background:darken($teal, 5%);
			}
		}
	}


	@media (max-width:$screen-lg){
		$icon-size-ofertas:30px;

		.ofertas-link{

			.ofertas-content{

				.ofertas-title{
					font-size:16px;
				}

				.ofertas-description{
					font-size:15px;
					line-height:19px;
				}

				.ofertas-info{

					.ofertas-info-item{
						width:$icon-size-ofertas;
						margin-right:$main-margin;

						.icon-item{
							width:$icon-size-ofertas;
							height:$icon-size-ofertas;
						}

						&:last-child{
							margin-right:0;
						}
					}
				}

				.ofertas-price{
					font-size: 13px;

					b{
						font-size:19px;
					}
				}

			}
		}
		

	}

}