.consultas-text{
	width:100%;
	float:left;
	font-size:16px;
	font-family:$montserrat-light;
	color:$blue-dark;
	margin-bottom:$double-margin * 2;
}

.consulta-paquete{
	width:calc(100% - #{$double-margin} * 2);
	background:$teal-light;
	padding:$double-margin;
	float:left;
	margin-bottom:$double-margin * 2;

	.title{
		width:100%;
		padding:$double-margin;
		background:$blue-dark;
		color:$white;
		margin-top:-$double-margin;
		margin-left:-$double-margin;
		margin-bottom:$double-margin;
		font-size:14px;
		font-family:$montserrat-light;

		h1{
			display:inline-block;
			text-transform:uppercase;
			font-family:$montserrat-extrabold;
			font-size:16px;
			margin-right:$main-margin / 2;
		}
	}

	.info{

		.info-list{
			li{
				font-size:14px;
				color:$blue-dark;
				margin-bottom:$main-margin;
				font-family:$montserrat-light;

				b{
					font-family:$montserrat-bold;
					text-transform:uppercase;
				}
			}
		}

		.price-list{
			li{
				width:100%;
				font-size:14px;
				color:$blue-dark;
				margin-bottom:$main-margin;
				font-family:$montserrat-regular;
				text-align:right;
				padding-bottom:$main-margin;
				margin-bottom:$main-margin;
				border-bottom:2px solid $blue-dark;

				&:last-child{
					border-bottom:none;
				}

				b{
					font-family:$montserrat-bold;
					text-transform:uppercase;
					float:left;
				}

				&.total{
					font-size:18px;
					font-family:$montserrat-bold;
					margin-top:$double-margin * 4;
				}
			}
		}

	}

}

.border-select {
	input, select, textarea {
		/*border:1px solid $gray !important;*/
	}
}


.consultas-form{

	.form-input{
		&.input-text,
		&.input-textarea{
			border:none;
			width:calc(100% - #{$double-margin});

			&.input-error{
				width:calc(100% - #{$double-margin} - 2px);
				border:1px solid $red;
			}
		}
	}

	@media (max-width:$screen-md){

		.mod-8col-merge-2-xl:nth-child(3n+3){
			margin-right:0!important;
			margin-bottom:$double-margin;
		}

	}

	.checkout-form{
		background:$white;
	}
	
}