.contentFlex{
	justify-content: center;
	display: flex;
	align-items: center;
	align-content: center;
	position: absolute;
	width: 100%;
	z-index: 20;
	top: 300px;
	@media (max-width:$screen-xl){
		top: 260px;
	}
	@media (max-width:$screen-md){
		position: relative;
		top: 45px;
		//background: silver;
	}
}
.centerFlex{
	width: calc(100% - 30px);
	//background: #edbe00;
	background: rgba(237,190,0,1);
	//border-radius: 5px;
	float: left;
	padding: 18px;
	z-index: 10;
	position: relative;
	box-shadow: 0 1px 4px rgba(0,0,0,0.7);
	@media (max-width:$screen-md){
		width: calc(100% - 36px);
		box-shadow: 0 0 0 rgba(0,0,0,0.7);
	}
	.datepicker-here{
		height: 36px!important;
	}
	.form-input.input-text{
		height: 35px!important;
		font-family: $montserrat-light;
	}
}
.search-content{
	max-width:1200px;
	//float:left;
	//background-color:$yellow;
	padding:$double-margin * 1.5 0;
	margin-top:-1px;
	width: calc(100% - 20px);
	.form-input{
		&.input-text{
			border:none;
			width:calc(100% - #{$double-margin});
		}
	}
	@media (max-width:$screen-xl){
		width: calc(100% - 70px);
	}
	@media (max-width:$screen-md){
		width: 100%;
	}
	.idaVuelta{
		margin-top: -50px;
		position: absolute;
		width:220px;
		label{
			float: left;
			margin: 5px 3px;
			font-size: 13px;
			color: white;
		}
		input{
			float: left;
			width: 16px;
			height: 16px;
		}
		@media (max-width:$screen-md){
			position: relative;
			margin: 10px 0;
			float: left;
		}
	}

}

.col-90{
	float: left;
	width: calc(90% - 20px);
	margin-right: 20px;
	@media (max-width:$screen-md){
		width: 100%;
		margin-right: 0;
	}
}
.col-10{
	float: left;
	width: 10%;
	@media (max-width:$screen-md){
		width: 100%;
	}
}