.search-tabs{
	height:45px;
	
	.search-tabs-nav{
		//background:darken($yellow, 10%);
		background: rgba(237,190,0,0.5);
		z-index: 20000;
		position: relative;

		.tabs-wrapper-trigger{
			cursor:pointer;
			//border-top:4px solid darken($blue-dark, 10%);
			text-transform:uppercase;
			color:$white;
			line-height: 54px;
			height: 45px;
			font-family:$montserrat-bold;
			font-size:14px;
			@include transition(200ms ease-in);
			
			.icon-tab{
				display:inline-block;
				width:30px;
				height:30px;
				position: relative;
				top: $main-margin;
				margin-right: $main-margin / 2;
				background-repeat:no-repeat;
				background-size:100% auto;

				&.icon-plane{
					background-image:url(../images/icons/icon-plane.svg);
				}

				&.icon-bell{
					background-image:url(../images/icons/icon-bell.svg);
				}

				&.icon-baggage{
					background-image:url(../images/icons/icon-baggage.svg);
				}

			}

			&.selected{
				cursor:auto;
				//border-bottom: 4px solid $yellow;
				//border-top:;
				color:$white;
				background: rgba(237,190,0,1);

				.icon-tab{

					&.icon-plane{
						background-image:url(../images/icons/icon-plane.svg);
					}

					&.icon-bell{
						background-image:url(../images/icons/icon-bell.svg);
					}

					&.icon-baggage{
						background-image:url(../images/icons/icon-baggage.svg);
					}

				}
			}

			&:hover{
				background:darken($yellow, 5%);

				&.selected{
					background:$yellow;
				}
			}

		}

	}

	@media (max-width:$screen-md){
		height:75px;

		.search-tabs-nav{
			width:100%;
			
			.tabs-wrapper-trigger{
				width:calc(100% / 3);
				font-size:12px;
				height: 75px;

				.icon-tab{
					display:block;
					margin:auto;
				}

			}


		}




	}

}

